/* Variables principales */
:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
  --navy: #143d7d;
  --blue: #FFF6E4;
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 4000px;
}

/* Hero Section */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/bg-preview.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: grayscale();
}

.hero {
  position: relative;
  min-height: 100vh;
  background-image: url(img/bg-preview.jpg);
  background-size: cover;
  background-position: center;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: "Sacramento", cursive;
  font-size: 6rem;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero p {
  color: var(--navy);
  font-size: 1.4rem;
}

.hero a {
  color: var(--navy);
  background-color: white;
  box-shadow: var(--shadow);
}

.hero a:hover {
  background-color: var(--navy);
  color: white;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 3.2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
  margin: 0 1.5rem;
}

.home {
  background-image: url(img/bg.png);
  background-size: cover;
  min-height: auto;
  margin-top: -4rem;
  padding-top: 8rem;
  padding-bottom: 6rem;
}

.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: var(--navy);
  font-family: "Sacramento";
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.home p {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: "Sacramento";
  font-size: 2.4rem;
  color: var(--pink);
}

.home .couple img {
  width: 100%;
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.home .heart i {
  margin: auto;
  color: var(--pink);
}

.info {
  background-color: var(--blue);
  color: black;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

.story,
.gallery,
.rsvp,
.gifts {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.story span,
.gallery span,
.gifts span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story p,
.gallery p,
.rsvp p,
.gifts p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

.gallery h2 {
  margin-top: -1.5rem;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
}

.timeline-panel h3 {
  color: var(--navy);
}

.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.gallery {
  background-color: #e3e3e3;
}

.gifts {
  background-color: white;
}

.rsvp {
  background-color: var(--blue);
  color: #111;
}

.rsvp p,
.rsvp label,
.rsvp a div {
  color: #111 !important;
}

.rsvp a {
  color: var(--blue);
}

.rsvp h2 {
  font-size: 4.5rem;
  white-space: nowrap;
}

.rsvp p {
  color: white;
}

.rsvp form label {
  color: white;
}

.rsvp button {
  background-color: var(--pink);
  color: white;
  border: 1px solid var(--pink);
}

.rsvp button:hover {
  background-color: white;
  color: var(--pink);
  border: 1px solid white;
}

footer {
  padding: 3rem;
  background-color: var(--bg);
  color: white;
}

footer a {
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

.hero main h1 {
  margin-bottom: 3rem;
}

.hero main p {
  margin-bottom: 2.5rem;
}

.simply-countdown {
  margin-bottom: 3.5rem;
}

.hero main .btn {
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
}

.fuente-parisienne {
  font-family: "Parisienne", cursive !important;
  font-size: 5rem;
  color: var(--navy);
  text-shadow: 1.6px 1.6px var(--navy);
}

/* Responsive */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}

@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .home .heart {
    display: none;
  }

  .timeline::before {
    left: 60px;
  }

  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }

  .timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }

  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}

@media (max-width: 768px) {
  .simply-countdown > .simply-section {
    padding: 40px;
    margin: 4px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .simply-countdown .simply-amount {
    font-size: 1.4rem;
  }

  .simply-countdown .simply-word {
    font-size: 0.9rem;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .sticky-top {
    overflow: hidden;
  }

  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 576px) {
  .simply-countdown > .simply-section {
    padding: 30px;
    margin: 3px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .simply-countdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

  .simply-countdown .simply-amount {
    font-size: 1.2rem;
  }

  .simply-countdown .simply-word {
    font-size: 0.8rem;
  }

  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-20px);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31px;
  }

  .modal-content {
    background-color: #fff;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover {
    color: black;
  }

  .rsvp img:hover {
    transform: scale(1.05) rotate(-2deg);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
}

@media (max-width: 576px) {
  .gallery {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .gallery h2 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }

  .gallery p {
    font-size: 1rem;
  }

  .gallery img {
    width: 150px;
  }

  .gallery a.btn {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
  }
}

@media (max-width: 576px) {
  footer .col-md-6:last-child {
    margin-top: 2rem;
  }
}

@media (max-width: 576px) {
  .gifts h2 {
    white-space: nowrap;
    font-size: 3rem;
  }

  @media (max-width: 576px) {
  .offcanvas {
    width: 80% !important;
    max-width: 300px;
    z-index: 1050 !important;
  }

  .offcanvas-backdrop {
    z-index: 1040 !important;
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body.offcanvas-open {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    transition: top 0.3s;
  }
}

.simply-countdown {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap;
  padding: 0 1rem;
}

.simply-countdown > .simply-section {
  flex: 1 1 auto;
  max-width: 22vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--navy) !important;
  color: white !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.8rem, 2.5vw, 1.4rem);
}
}

html.scroll-lock,
body.scroll-lock {
  overflow: hidden !important;
  position: relative;
}

.gallery-tira {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 576px) {
  .gallery .row .col-6 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .gallery .btn {
    font-size: 1rem;
    padding: 0.8rem 1.4rem;
  }

  .gallery img.img-thumbnail {
    max-width: 200px;
  }
}

@media (max-width: 576px) {
  .gallery-tira {
    width: 90vw !important;
    max-width: 500px !important;
    height: auto !important;
    margin-bottom: 2rem;
  }
}

@media (max-width: 576px) {
  #gallery h2 {
    font-size: 4rem !important;
  }
}

